@charset "UTF-8";

* { /* seletor global */
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%; /* altura em 100% para usar o degradê de cima para baixo */
}

body {
    background-image: linear-gradient(to right, #A68C6D, #F2D7B6);
}

main { /* conteúdo */
    background-color: white;
    border-radius: 10px; /* arredonda bordas de elementos */
    box-shadow: 5px 5px 15px #9787727c;
    width: 600px; /* largura do documento */
    padding: 10px; /* acolchoamento, espaço entre conteúdo e borda */
    margin: auto; /* centraliza o doc. independente do tamanho da tela */
}

h1 {
    color: #592C28;
    text-align: center;
    text-shadow: 1px 1px 2px #41201db0;
}

h2 {
    color: #8C3D35;
}

p {
    text-align: justify;
}

